@charset "utf-8";
.margin{
	margin:0 auto;
	width:1210px;
}
/*top区开始*/
#top{
	width:100%;
	height:32px;
	border-bottom: 1px solid #e5e5e5;
	background: #f2f2f2;
}
#top .top-l .where{
	display: inline-block;
	vertical-align: middle;
	position:relative;
}
#top .top-l .where:hover .local-list{
	display:block;
}
#top .top-l .where .local-list{
	width:200px;
	height:330px;
	border:1px solid #ccc;
	position:absolute;
	top:22px;
	background: #fff;
	padding:0 10px 0;
	color:#000;
	z-index: 100;
	display:none;
}
#top .top-l .where .local-list .title{
	line-height: 40px;
	border-bottom: 1px solid #e5e5e5;
}
#top .top-l .where .local-list .title b{
	font-weight: 700;
}
#top .top-l .where .local-list ul li{
	height:32px;
}
#top .top-l .where .local-list ul li span.letter{
	width:20px;
	height:20px;
	background: #ccc;
	text-align: center;
	border-radius: 50%;
	color:#fff;
	line-height: 20px;
	margin-right: 6px;
}
#top .top-l .where .local-list ul li span.city{
	line-height: 32px;
	padding:0 3px 0;
}
#top .top-l .where .local-list ul li span.city:hover{
	background:#ff3300;
	color:#fff;
	cursor:pointer;
}
#top .top-l span,#top .top-l a{
	display: inline-block;
}
#top .top-l span.local{
	width:38px;
	height:22px;
	background: #ff3300;
	color:#fff;
	text-align: center;
	font:12px/22px "";
	cursor: pointer;
}
#top .top-l a.change-local{
	margin-right: 50px;
}
#top .top-l a,span.welcome{
	height:32px;
	font:12px/32px "";
	color:#999;
	vertical-align: middle;
}
#top .top-l a:hover{
	color:red;
	text-decoration: underline;
}
#top .top-l span.welcome{
	margin-right: 8px;
}
#top .top-l a.login{
	margin-right: 8px;
}

#top .top-r .message{
	display: inline-block;
	width:70px;
	height:32px;
	text-align: center;
	position:relative;
	
}
#top .top-r .message:hover{
	background: #fff;
	height:33px;
	width:68px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
#top .top-r .message:hover .my-message{
	display:block;
}
#top .top-r .message:hover .my{
	color:red;
	text-decoration: underline;
	cursor:pointer;
}
#top .top-r .message .my{
	line-height: 32px;
}
#top .top-r .message .my-message{
	width:94px;
	background: #fff;
	border:1px solid #ccc;
	border-top:0px;
	position:absolute;
	left:-1px;
	top:33px;
	display:none;
}
#top .top-r .message .my-message p:hover{
	color:red;
	text-decoration: underline;
	cursor:pointer;
}
#top .top-r .dianpu{
	line-height: 32px;
	color:red;
	cursor:pointer;
	margin-right:5px;
}
#top .top-r .dianpu:hover{
	text-decoration: underline;
}
#top .top-r .phone{
	display: inline-block;
	width:45px;
	height:32px;
	text-align: center;
	position:relative;	
	cursor: pointer;
}
#top .top-r .phone:hover{
	width:43px;
	background: #fff;
	height:33px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	color:red;
	text-decoration: underline;
}
#top .top-r .phone:hover .app{
	display:block;
}
#top .top-r .phone .mobile{
	line-height: 32px;
}
#top .top-r .phone .app{
	position:absolute;
	top:33px;
	padding:5px;
	background: #fff;
	border:1px solid #ccc;
	border-top:0px;
	left:-1px;
	display:none;
}
#top .top-r .phone .app img{
	display:block;
	width:140px;
}
#top .top-r .nav{
	display: inline-block;
	width:70px;
	height:32px;
	text-align: center;
	position:relative;	
	cursor: pointer;
}
#top .top-r .nav:hover{
	background: #fff;
	height:33px;
	width:68px;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
#top .top-r .nav:hover .nav-content{
	display:block;
}
#top .top-r .nav:hover .nav-title{
	color:red;
	text-decoration: underline;	
}
#top .top-r .nav .nav-title{
	line-height: 32px;
}
#top .top-r .nav .nav-content{
	width:1208px;
	height:120px;
	padding-top:18px;
	border:1px solid #ccc;
	border-top:0px solid #ccc;
	position:absolute;
	right:-1px;
	top:33px;
	background: #fff;
	display:none;
}
#top .top-r .nav .nav-content .product{
	width:411px;
	padding-left: 29px;
	text-align: left;
}
#top .top-r .nav .nav-content .product .product-title{
	line-height: 38px;
	font-size: 15px;
	color:#f6762b;
	font-weight: 700;
}
#top .top-r .nav .nav-content .product .product-content li{
	float:left;
	line-height: 30px;
	margin-right: 33px;
}
#top .top-r .nav .nav-content .product .product-content li:hover{
	color:#f6762b;
	text-decoration: underline;
}
#top .top-r .nav .nav-content .market{
	width:376px;
	padding-left: 29px;
	text-align: left;
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
#top .top-r .nav .nav-content .market .market-title{
	line-height: 38px;
	font-size: 15px;
	color:#4252aa;
	font-weight: 700;
}
#top .top-r .nav .nav-content .market .market-content li{
	float:left;
	line-height: 30px;
	margin-right: 60px;
}
#top .top-r .nav .nav-content .market .market-content li:hover{
	color:#4252aa;
	text-decoration: underline;
}
#top .top-r .nav .nav-content .about{
	width:250px;
	padding-left: 29px;
	text-align: left;
}
#top .top-r .nav .nav-content .about .about-title{
	line-height: 38px;
	font-size: 15px;
	color:#000;
	font-weight: 700;
}
#top .top-r .nav .nav-content .about .about-content li{
	float:left;
	line-height: 30px;
	margin-right: 33px;
}
#top .top-r .nav .nav-content .about .about-content li:hover{
	color:#000;
	text-decoration: underline;
}
/*head区开始*/
#head{
	width:100%;
	height:103px;
	padding-top: 20px;
}
#head .sesrch{
	width:542px;
	margin:0 auto;
}
#head .sesrch .search-top{
	height:25px;
}
#head .sesrch .search-top span{
	width:50px;
	height:25px;
	text-align: center;
	font:700 12px/25px "";
	cursor:pointer;
}
#head .sesrch .search-top span:hover{
	background: pink;
	color:#e31939;
}
#head .sesrch .search-top span.bg{
	background: #e31939;
	color:#fff;
}
#head .sesrch .search-input{
	width:532px;
	height:32px;
	border:2px solid #e31939;
	margin-bottom: 5px;
}
#head .sesrch .search-input input{
	border:0;
	outline: none;
	width:442px;
	height:32px;
	padding-left:4px;
	float: left;
}
#head .sesrch .search-input a{
	height:32px;
	width:86px;
	background: #e31939;
	color:#fff;
	text-align: center;
	font:700 15px/32px "";
	float: left;
}
#head .sesrch .search-bottom a{
	color:#999;
}
#head .sesrch .search-bottom span{
	color:#999;
	margin:0 4px;
}
/*nav区开始*/
#nav{
	width:100%;
	height:37px;
	border-bottom:2px solid #e31939;
	
}
#nav .allgoods{
	width:210px;
	height:39px;
	background: #e31939;
	text-align: center;
	position:relative;
}
#nav .allgoods span{
	color:#fff;
	font:14px/39px "微软雅黑";
}
#nav .allgoods i{
	display: inline-block;
	width:10px;
	height:10px;
	background: url(../img/user_header.png) no-repeat -428px -115px;
	position:absolute;
	top:17px;
	right:22px;
}
#nav .allgoods ul.goodslist{
	text-align: left;
	width:208px;
	height:513px;
	border: 1px solid #e7e7e7;
	border-top:0;
	position:relative;
	background:rgba(255,255,255,0.7);
	position:absolute;
	z-index: 20;
	top:39px;
}
#nav .allgoods ul.goodslist li.li1{
	padding:0 14px;
	height:65px;
}
#nav .allgoods ul.goodslist li.li1.hover{
	background: url(../img/nav.png);
	width:186px;
	margin-left:-5px;
	opacity:0.7;
	height:65px;
}
#nav .allgoods ul.goodslist li.li1.hover .liitem{
	padding-left: 5px;
	border:0px;
	height:52px;
}
#nav .allgoods ul.goodslist li.li1.hover .liitem a{
	color:#fff;
}
#nav .allgoods ul.goodslist li.li1.hover .liitem h3{
	color:#fff;
	background: url(../img/icohover.png) no-repeat;
}
#nav .allgoods ul.goodslist li.li1 .liitem{
	border-bottom: 1px solid #ccc;
	height:51px;
	padding-top:13px;
}
#nav .allgoods ul.goodslist li.li1 .liitem h3{
	padding-left: 42px;
	background: url(../img/ico.png) no-repeat;
	font:14px/20px "";
	color:#000;
}
#nav .allgoods ul.goodslist li.li1 .liitem p{
	padding-left: 40px;
	width:138px;
	font:12px/26px "";
	height:26px;
	font-family: "微软雅黑";
}

#nav .allgoods ul.goodslist li.li2{
	padding:0 14px;
	height:65px;
}
#nav .allgoods ul.goodslist li.li2.hover{
	background: url(../img/nav.png);
	width:186px;
	margin-left:-5px;
	opacity:0.7;
	height:65px;
}
#nav .allgoods ul.goodslist li.li2.hover .liitem{
	padding-left: 5px;
	border:0px;
	height:52px;
}
#nav .allgoods ul.goodslist li.li2.hover .liitem a{
	color:#fff;
}
#nav .allgoods ul.goodslist li.li2.hover .liitem h3{
	color:#fff;
	background: url(../img/icohover.png) no-repeat;
	background-position:0 -25px ;
}
#nav .allgoods ul.goodslist li.li2 .liitem{
	border-bottom: 1px solid #ccc;
	height:51px;
	padding-top:13px;
}
#nav .allgoods ul.goodslist li.li2 .liitem h3{
	padding-left: 42px;
	background: url(../img/ico.png) no-repeat;
	background-position:0 -25px ;
	font:14px/20px "";
	color:#000;
}
#nav .allgoods ul.goodslist li.li2 .liitem p{
	padding-left: 40px;
	width:138px;
	font:12px/26px "";
	height:26px;
	font-family: "微软雅黑";
}
#nav .allgoods .goodscontent{
	width:760px;
	padding:0 15px;
	border:1px solid #c33;
	background:#fff;
	position:absolute;
	left:209px;
	top:0;
	display:none;
	background: #fff;
	z-index: 20;
}
#nav .allgoods .goodscontent .goodsitem{
	display:none;
	background: #fff;
}
#nav .allgoods .goodscontent .divitem{
	width:534px;
	padding:11px 0;
	border-bottom: 1px dashed #ccc;
}
#nav .allgoods .goodscontent .divitem .goodstitle{
	width:104px;
	text-align: center;
	line-height: 27px;
	font-size: 12px;
	font-weight: 700;
	color:#575b5e;
}
#nav .allgoods .goodscontent .divitem .goodsneirong{
	width:430px;
}
#nav .allgoods .goodscontent .divitem .goodsneirong li{
	float:left;
	width:105px;
	line-height: 27px;
	cursor:pointer;
}
#nav .allgoods .goodscontent li:hover{
	color:red;
	text-decoration: underline;
}
#nav .allgoods .goodscontent .recommend{
	width:196px;
	padding-top:11px;
}
#nav .allgoods .goodscontent .recommend .recommend-title{
	font:700 12px/28px "";
	color:#b5334b;
	border-bottom: 1px dashed #ccc;
}
#nav .allgoods .goodscontent .recommend .recommend-content{
	padding-top: 8px;
}
#nav .allgoods .goodscontent .recommend .recommend-content li{
	cursor:pointer;
	width:90px;
	float:left;
}
#nav ul.about{
	height:37px;
	line-height: 37px;
	font-size:14px;
}
#nav ul.about li{
	float:left;
	margin-left: 50px;
	cursor:pointer;
}
#nav ul.about li:hover{
	color:#c33;
}
/*banner区开始*/
#banner{
	width:100%;
	height:514px;
	position:relative;
	border-bottom:1px solid #ccc;
}
#banner .imgbox{
	width:100%;
	height:100%;
}
#banner .imgbox li.img1{
	width:100%;
	height:100%;
	background: url(../img/banner1.png) center center;
}
#banner .imgbox li.img2{
	width:100%;
	height:100%;
	background: url(../img/banner2.png) center center;
	display:none;
}
#banner .imgbox li.img3{
	width:100%;
	height:100%;
	background: url(../img/banner3.png) center center;
	display:none;
}
#banner .imgbox li{
	position:absolute;
	top:0;
	left:0;	
}
#banner .banbottom{
	width:793px;
	position:absolute;
	left:317px;
	bottom:0;
}
#banner .banbottom .cirlcebox{
	height:20px;
	padding-right: 10px;
	background: rgba(0,0,0,.3);
	text-align: right;
}
#banner .banbottom .cirlcebox span{
	display:inline-block;
	width:24px;
	height:6px;
	margin-bottom:3px;
	background: rgba(0,0,0,.5);
	cursor:pointer;
}
#banner .banbottom .cirlcebox span.bg{
	background:#ff3300;
}
#banner .banbottom .makeup li{
	float:left;
}
#banner .banright{
	width:210px;
	height:100%;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	position:absolute;
	right:101px;
	bottom:0;
}
#banner .banright .order{
	background: rgba(255,255,255,.8);
}
#banner .banright .order .ordert{
	line-height:36px;
	border-bottom: 1px solid #e7e7e7;
	padding-left: 15px;
	font-weight: 600;
}
#banner .banright .order ul{
	padding:18px 10px 32px 10px;
	line-height: 30px;
}
#banner .banright .order ul li b{
	padding:2px 5px;
	background: #e31939;
	color:#fff;
	font-weight: 700;
	margin-right: 10px;
}
#banner .banright .order ul li p{
	margin-left: 25px;
}
#banner .banright .order ul li p.p1{
	line-height: 20px;
}
#banner .banright .order ul li p.p2{
	font:22px/40px "";
	color:#c33;
}
#banner .banright .order ul li img{
	width:68px;
	margin-left: 120px;
	margin-top:-20px;
}
#banner .banright .advertisement{
	background: #fff;
}
#banner .banright .advertisement .advertisement-title{
	height:30px;
}
#banner .banright .advertisement .advertisement-title span{
	width:105px;
	height:100%;
	font:12px/30px "";
	color:#000;
	background: #f7f7f7;
	text-align: center;
	cursor:pointer;
}
#banner .banright .advertisement .advertisement-title span.bg{
	background: #fff;
}
#banner .banright .advertisement .advertisement-content{
	height:149px;
}
#banner .banright .advertisement .advertisement-content-item{
	width:100%;
	height:100%;
	display:none;
}
#banner .banright .advertisement .advertisement-content-item.show{
	display:block;
}
#banner .banright .advertisement .advertisement-content-item .apply{
	float:left;
	width:166px;
	height:60px;
	margin:20px 0 15px 25px;
	background: url(../img/home_bg.png) no-repeat 0 -200px;
}
#banner .banright .advertisement .advertisement-content-item p{
	float:left;
	width:100%;
	text-align: center;
}
#banner .banright .advertisement .advertisement-content-item ul li{
	font:12px/29px "";
	padding-left: 20px;
	width:170px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
/*酒区开始*/
#wine{
	width:100%;
	height:373px;
	padding-top:25px;
}
#wine .wtitle{
	height:37px;
	position:relative;
}
#wine .wtitle ul li{
	float:left;
	font:700 16px/32px "";
	width:90px;
	text-align: center;
	margin-right: 15px;
	cursor:pointer;
}
#wine .wtitle ul li.bg{
	color:#c33;
}
#wine .wtitle .underline{
	width:90px;
	height:7px;
	background: url(../img/redline.jpg);
	position:absolute;
	z-index: 10;
}
#wine .wcontent{
	width:1165px;
	height:274px;
	padding:15px 18px;
	border:1px solid #ededed;
	overflow: hidden;
	position:relative;
}
#wine .wcontent .winebox{
	width:306%;
}
#wine .wcontent .winebox .wineitem{
	width:1183px;
	height:274px;
	overflow: hidden;
}
#wine .wcontent .winebox .wineitem li{
	float:left;
	width:180px;
	height:80px;
	overflow: hidden;
	cursor:pointer;
	margin:0 17px 17px 0;
}
#wine .wcontent .winebox .wineitem li img{
	display:block;
}
#wine .wcontent .arrow{
	position:absolute;
	width:46px;
	height:46px;
	background: #000;
	font:700 30px/46px "";
	text-align:center;
	top:50%;
	margin-top:-23px;
	color:#fff;
	opacity:0.7;
	border-radius: 50%;
}
#wine .wcontent .arrow.btnr{
	right:0;
}
/*热门店铺区*/
#hotstores{
	width:100%;
	margin-bottom: 10px;
}
#hotstores .hot-title{
	height:37px;
}
#hotstores .hot-title b{
	color:#000;
	font:700 16px/37px "";
	margin-right:10px;
}
#hotstores .hot-title i{
	color:#666;
	font:600 16px/37px "";
	font-style: italic;
}
#hotstores .hot-content{
	height:328px;
	padding-top:2px;
	background: #f0f0f0;
}
#hotstores .hot-content .imgl img{
	width:212px;
	height:326px;
}
#hotstores .hot-content .allstores{
	margin-left:4px;
	width:782px;
}
#hotstores .hot-content .allstores li{
	float:left;
	margin:0 2px 2px 0;
	width:128px;
	height:80px;
	position:relative;
	background: #fff;
	cursor:pointer;
}
#hotstores .hot-content .allstores li img{
	display:block;
	position:absolute;
	left:19px;
	top:15px;
}
/*sale区*/
#sale{
	width:100%;
	margin-bottom:17px;
}
#sale .salel{
	width:1000px;
}
#sale .salel .sale-top{
	height:35px;
}
#sale .salel .sale-top .sale-title{
	height:30px;
}
#sale .salel .sale-top .sale-title span{
	width:200px;
	line-height: 30px;
	font-weight: 600;
	text-align: center;
	cursor:pointer;
}
#sale .salel .sale-top .sale-title span.bg{
	color:#e22a40;
}
#sale .salel .sale-top .underline{
	width:200px;
	height:5px;
	border-bottom: 2px solid #e22a40;
	position:relative;
}
#sale .salel .sale-top .underline .triangle{
	width:0px;
	border:5px solid #fff;
	border-bottom-color:#e22a40;
	position:absolute;
	bottom:0;
	left:96px;
}
#sale .salel .sale-content{
	height:252px;
	border-top: 2px solid #ccc;
	border-bottom: 1px solid #ccc;
}
#sale .salel .sale-content .saleitem{
	display:none;
}
#sale .salel .sale-content .saleitem:nth-child(1){
	display:block;
}
#sale .salel .sale-content .saleitem li{
	padding:15px 19px 0 20px;
	width:160px;
	border-right: 1px dashed #ccc;
	float:left;
}
#sale .salel .sale-content .saleitem li img{
	display:block;
	width:160px;
	height:160px;
}
#sale .salel .sale-content .saleitem li span{
	color:#c33;
	font-size:16px;
}
#sale .saler{
	width:210px;
}
#sale .saler .titler{
	padding-bottom: 5px;
	border-bottom: 2px solid #e22a40;
}
#sale .saler .titler h3{
	height:30px;
	font:700 12px/30px "";
	color:#e22a40;
	padding-left:32px;
}
#sale .saler .titler h3 i{
	float:left;
	width:18px;
	height:18px;
	background: url(../img/index_001.png) no-repeat 0px -125px;
	margin-left: -27px;
	margin-top: 6px;
}
#sale .saler .contentr{
	padding-top:20px;
	height:230px;
	width:210px;
}
#sale .saler .contentr .look{
	width:210px;
	height:210px;
	position:relative;
	overflow: hidden;
}
#sale .saler .contentr .look .btn{
	position:absolute;
	width:25px;
	height:25px;
	background: #666;
	top:50%;
	margin-top:-12px;
	text-align: center;
	font:700 18px/25px "";
	opacity:0.7;
	color:#fff;
	display:none;
}
#sale .saler .contentr .look .btn.btnr{
	right:0;
}
#sale .saler .contentr .look .imgbox{
	width:500%;
	height:210px;
}
#sale .saler .contentr .look .imgbox img{
	float:left;
	width:210px;
}
/*楼区开始*/
#floor1{
	height:710px;
}
#floor1 .floortop{
	margin-bottom:16px;
}
#floor1 .floortop .floortitle{
	height:35px;
	border-bottom: 1px solid #8dd514;
}
#floor1 .floortop .floortitle h3{
	font:22px/35px "";
	color:#666;
	padding-left: 8px;
}
#floor1 .floortop .floortitle ul li{
	float:left;
	font:12px/34px "微软雅黑";
	width:98px;
	text-align: center;
	border:1px solid #ddd;
	border-bottom: 0;
	margin-left: 8px;
	cursor:pointer;
	background: #fff;
}
#floor1 .floortop .floortitle ul li.active{
	height:35px;
	color:#8dd514;
	border-color: #8dd514;
}
#floor1 .floortop .floorcontent{
	height:558px;
}
#floor1 .floortop .floorcontent .floormenu{
	width:240px;
}
#floor1 .floortop .floorcontent .floormenu .floormenulist{
	width:215px;
	height:227px;
	padding:35px 0 0 25px;
	background: #8dd514;
}
#floor1 .floortop .floorcontent .floormenu .floormenulist li{
	float:left;
	width:62px;
	height:62px;
	background:#fff;
	text-align: center;
	font:12px/60px "";
	border-radius: 50%;
	margin:0 7px 10px 0;
	border:1px solid #8dd514;
	cursor:pointer;
	color:#000;
}
#floor1 .floortop .floorcontent .floormenu .floormenulist li:hover{
	background: #8dd514;
	color:#fff;
	border-color:#ccc;
}
#floor1 .floortop .floorcontent .floormenu img{
	display:block;
}
#floor1 .floortop .floorcontent .floorbox{
	width:820px;
}
#floor1 .floortop .floorcontent .floorbox .flooritem{
	display:none;
}
#floor1 .floortop .floorcontent .floorbox .flooritem:nth-child(1){
	display:block;
}
#floor1 .floortop .floorcontent .floorbox li{
	width:160px;
	height:258px;
	padding:20px 25px 0 19px;
	border-right: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	float:left;
	position: relative;
}
#floor1 .floortop .floorcontent .floorbox li img{
	width:160px;
	height:160px;
}
#floor1 .floortop .floorcontent .floorbox li del{
	text-decoration: line-through;
}
#floor1 .floortop .floorcontent .floorbox li p{
	height:48px;
}
#floor1 .floortop .floorcontent .floorbox li span{
	font:16px/16px "";
	color:#c33;
}
#floor1 .floortop .floorcontent .floorbox li a{
	position:absolute;
	width:30px;
	height:30px;
	background: url(../img/index_001.png) no-repeat 0 0 ;
	bottom:15px;
	right:15px;
}
#floor1 .floorbottom{
	height:40px;
	width:1209px;
	padding:13px 0px;
	background: #f7f7f7;
	overflow: hidden;
	position:relative;
}
#floor1 .floorbottom:hover a{
	display:block;
}
#floor1 .floorbottom .floorbottomimgbox{
	width:1695px;
}
#floor1 .floorbottom .floorbottomimgbox li{
	padding-right:10px;
	padding-left:10px;
	border-left: 1px dashed #ccc;
	float:left;
}
#floor1 .floorbottom .floorbottomimgbox li:nth-child(1){
	border-left:0;
}
#floor1 .floorbottom a{
	position:absolute;
	width:24px;
	height:30px;
	background: #666;
	font:700 16px/30px "";
	color:#fff;
	text-align: center;
	opacity:0.8;
	top:50%;
	margin-top:-15px;
	display:none;
}
#floor1 .floorbottom a.gor{
	right:0;
}


















