@charset "utf-8";
.addhead{
	height:195px;
}
/*网页title*/
#title{
	font:12px/40px "";
}
/*main区域*/
#main{
	height:600px;
}
#main .exhibition{
	width:402px;
}
#main .exhibition .bigger{
	width:380px;
	height:380px;
	border:1px solid #ddd;
	padding: 10px;
	position:relative;
}
#main .exhibition .bigger .small{
	width:100%;
	height:100%;
	position:relative;
}
#main .exhibition .bigger .small img{
 	width:380px;
 	height:380px;
 	display:block;
 	display:none;
 	position:absolute;
 	top:0;
 	left:0;
}
#main .exhibition .bigger .small img:nth-child(1){
	display:block;
}
#main .exhibition .bigger .small .filter{
	width:200px;
	height:200px;
	background: url(../img/filter.png);
	position:absolute;
	top:0;
	left:0;
	cursor:move;
	display:none;
}
#main .exhibition .bigger .big{
	width:400px;
	height:400px;
	border:1px solid #ddd;
	overflow: hidden;
	position:absolute;
	top:-1px;
	left:402px;
	display:none;
}
#main .exhibition .bigger .big img{
	width:760px;
 	height:760px;
 	display:block;
}
#main .exhibition .exhibitionlist{
	padding-top:10px;
}
#main .exhibition .exhibitionlist i{
	width:16px;
	height:50px;
	cursor:pointer;
}
#main .exhibition .exhibitionlist i.btnl{
	background: url(../img/btn_per.gif) no-repeat;
	
}
#main .exhibition .exhibitionlist i.btnr{
	background: url(../img/btn_next.gif) no-repeat;
}
#main .exhibition .exhibitionlist li{
	width:50px;
	height:50px;
	margin-left: 8px;
	border:1px solid #ccc;
	cursor: pointer;
	float:left;
}
#main .exhibition .exhibitionlist li img{
	width:50px;
	height:50px;
}
#main .sellerinformation{
	width:185px;
	height:515px;
	padding:0 12px 0 13px;
	border:1px solid #ddd;
	background: #f9f9f9;
}
#main .sellerinformation .title{
	font:12px/50px "";
	text-align: center;
	border-bottom:1px solid #ddd;
}
#main .sellerinformation .content{
	font:12px/26px "";
	padding:5px 8px 13px 8px;
	border-bottom: 1px dashed #ddd;;
}
#main .sellerinformation .content .iteml{
	width:60px;
}
#main .sellerinformation .content .itemr{
	width:109px;
}
#main .sellerinformation .mobile{
	text-align: center;
	font:12px/26px "";
}
#main .sellerinformation .mobile img{
	width:120px;
	margin-top: 25px;
}
#main .productinformation{
	width:560px;
	margin-left: 20px;
}
#main .productinformation .title{
	padding-top:10px;
}
#main .productinformation .title h3{
	font:700 14px/18px "";
	color:#000000;
}
#main .productinformation .title p{
	font:12px/38px "";
	color:#999;
}
#main .productinformation .aboutprice{
	width:545px;
	height:79px;
	padding:4px 0 0 15px;
	background: #f5f5f5;
}
#main .productinformation .aboutprice .nowprice{
	height:30px;
	
}
#main .productinformation .aboutprice .nowprice span{
	display:inline-block;
}
#main .productinformation .aboutprice .nowprice span.sale{
	font:12px/30px "";
}
#main .productinformation .aboutprice .nowprice span.price{
	color:#e31939;
	font:25px/30px "";
	margin:0 20px 0 10px;
}
#main .productinformation .aboutprice .nowprice span.tellme{
	font:12px/17px "";
	padding:2px 5px;
	background: #fe596a;
	color:#fff;
}
#main .productinformation .aboutprice .preprice{
	height:49px;
}
#main .productinformation .aboutprice .preprice b{
	font:12px/49px "";
	vertical-align: middle;
}
#main .productinformation .aboutprice .preprice b.delprice{
	text-decoration: line-through;
	margin-left: 15px;
}
#main .productinformation .aboutprice .preprice .diffprice{
	display:inline-block;
	width:105px;
	height:24px;
	vertical-align: middle;
	margin-left: 57px;
	border:1px solid #f5f5f5;
	border-bottom: none;
}
#main .productinformation .aboutprice .preprice .diffprice:hover{
	border-color:#ccc;
	background: #fff;
}
#main .productinformation .aboutprice .preprice .diffprice:hover ul{
	display:block;
}
#main .productinformation .aboutprice .preprice .diffprice a{
	display: inline-block;
	width:73px;
	height:100%;
	padding:0 17px 0 7px;
	font:12px/24px "";
	color:#666;
	text-align: center;
	background: url(../img/arrowd.jpg) no-repeat right;
}
#main .productinformation .aboutprice .preprice .diffprice ul{
	width:105px;
	border:1px solid #ccc;
	border-top: none;
	margin-left: -1px;
	display:none;
	background: #fff;
	position:relative;
}
#main .productinformation .aboutprice .preprice .diffprice ul li{
	padding-left: 7px;	
	width:98px;
	cursor:pointer;
}
#main .productinformation .productnum{
	line-height: 50px;
	border-bottom: 1px dashed #ccc;
}
#main .productinformation .productnum span:nth-child(2){
	color:#000;
	margin:0 50px 0 20px;
}
#main .productinformation .productnum span:nth-child(4){
	color:#000;
	margin-left: 20px;
}
#main .productinformation .state{
	height:25px;
	padding:10px 0;
	border-bottom: 1px dashed #ccc;
	margin-bottom: 17px;
}
#main .productinformation .state li{
	float:left;
	width:184px;
	line-height:25px;
	text-align: center;
}
#main .productinformation .state li:nth-child(2){
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
}
#main .productinformation .state li .red{
	color:#c33;
	margin-left: 6px;
}
#main .productinformation .productdes .item{
	margin-bottom: 17px;
}
#main .productinformation .productdes .item .title{
	width:60px;
	text-align: center;
	padding-top:0;
}
#main .productinformation .productdes .item .content1 li{
	height:23px;
	cursor:pointer;
}
#main .productinformation .productdes .item .content1 li:nth-child(2){
	margin:7px 0;
}
#main .productinformation .productdes .item .content1 li .color{
	width:39px;
	height:23px;
	font:12px/23px "";
	text-align: center;
	background:url(../img/goods_act.png) no-repeat -3px -26px ;
	margin:0 15px;
	color:#fff;
}
#main .productinformation .productdes .item .content1 li:nth-child(2) .color{
	width:39px;
	height:23px;
	font:12px/23px "";
	text-align: center;
	background:url(../img/goods_act.png) no-repeat -3px -51px ;
	margin:0 15px;
}
#main .productinformation .productdes .item .content1 li:nth-child(3) .color{
	width:39px;
	height:23px;
	font:12px/23px "";
	text-align: center;
	background:url(../img/goods_act.png) no-repeat -3px -76px ;
	margin:0 15px;
}
#main .productinformation .productdes .item .content2 span{
	width:94px;
	height:40px;
	padding:4px 0 4px 10px;
	border:1px solid #c8c9cd;
	margin-right: 10px;
	cursor:pointer;
}
#main .productinformation .productdes .item .content2 span.click{
	border-color:#c33;
	background: url(../img/bg_attr_sel_zyh.png) no-repeat right bottom;
}
#main .productinformation .productdes .item .content2 span img{
	width:40px;
	margin-right: 5px;;
}
#main .productinformation .productdes .item .content2 span b{
	font:12px/40px "";
	color:#000;
}
#main .productinformation .productdes .item .content3 a{
	display:inline-block;
	vertical-align: middle;
	width:15px;
	height:15px;
	text-align: center;
	font:12px/13px "";
}
#main .productinformation .productdes .item .content3 a.add{
	background: url(../img/goods_act.png) no-repeat -60px -25px;
}
#main .productinformation .productdes .item .content3 a.decrease{
	background: url(../img/goods_act.png) no-repeat -44px -25px;
}
#main .productinformation .productdes .item .content3 input{
	vertical-align: middle;
	border:1px solid #c9c9c9;
	width:34px;
	height:20px;
	text-align: center;
}
#main .productinformation .productdes .item .content3 span{
	display: inline-block;
	vertical-align: middle;
	line-height: 22px;
}
#main .productinformation .btn span{
	width:135px;
	height:36px;
	text-align: center;
	font:15px/36px "";
	color:#fff;
	background: #ff6500;
	margin-left: 10px;
	cursor:pointer;
}
#main .productinformation .btn span.addcart{
	background: #e31939;
}

/*推荐精品区*/
#recommend{
	margin-bottom: 20px;
}
#recommend .title{
	width:150px;
	height:37px;
	border-top:2px solid #e31939;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
}
#recommend .title span{
	width:100%;
	text-align: center;
	height:37px;
	font:700 16px/37px "";
	color:#e31939;
	background: #fff;
	position: relative;
	z-index: 10;
}
#recommend .content{
	width:1108px;
	height:155px;
	padding:30px 50px 25px 50px;
	border:1px solid #ddd;
	overflow: hidden;
	position:relative;
}
#recommend .content ul{
	width:1525px;
}
#recommend .content .box{
	width:100%;
	height:100%;
	overflow: hidden;
}
#recommend .content ul li{
	width:160px;
	height:155px;
	position:relative;
	float:left;
	margin-right: 30px;
	overflow: hidden;
}
#recommend .content ul li img{
	width:160px;
	height:155px;	
}
#recommend .content ul li .des{
	background: rgba(0,0,0,0.6);
	line-height: 25px;
	color:#fff;
	position: absolute;
	bottom:-25px;
	width:100%;
}
#recommend .content ul li .des p{
	padding-left:10px;
	width:130px;
}
#recommend .content:hover a{
	display:block;
}
#recommend .content a{
	position:absolute;
	top:50%;
	margin-top:-25px;
	width:42px;
	height:50px;
	border-radius: 50%;
	background: #000;
	color:#fff;	
	font:700 30px/50px "";
	display:none;
}
#recommend .content a.arrowl{
	left:-25px;
	text-align: right;
	padding-right: 8px;
	opacity:0.6;
}
#recommend .content a.arrowr{
	right:-25px;
	text-align: left;
	padding-left: 8px;
	opacity:0.6;
}
/*about 区域*/
#about .classify{
	width:208px;
	border:1px solid #ddd;
}
#about .classify .title{
	font:12px/35px "";
	padding-left: 7px;
	border-bottom: 1px solid #ddd;
	background: #fafafa;
}
#about .classify ul{
	background: #fff;
	padding-left: 15px;
	padding-top: 10px;
}
#about .classify ul li{
	font:12px/28px "";
	width:96px;
	float:left;
	cursor: pointer;
}
#about .classify ul li:hover{
	text-decoration: underline;
	color:#c33;
}
#about .iphone{
	width:990px;
}
#about .iphone .title{
	width:990px;
	border-bottom: 2px solid #e31939;
	background: #fff;
}
#about .iphone .title li{
	float:left;
	width:130px;
	text-align: center;
	font:600 12px/34px "";
	border-top:1px solid #ddd;
	border-right:1px solid #ddd;
	cursor:pointer;
}
#about .iphone .title li:hover{
	color:#fff;
	background: #e31939;
	border-color:#e31939;
}
#about .iphone .title li:nth-child(1){
	border-left:1px solid #ddd;
}
#about .iphone .title li.click{
	color:#fff;
	background: #e31939;
	border-color:#e31939;
}
#about .iphone .title .last{
	float:right;
	width:160px;
	text-align: center;
	border:none;
}
#about .iphone .title .last a{
	display:block;	
	background: #e31939;
	font:12px/35px "";
	color:#fff;
	height:35px;
}
#about .iphone .content{
	width:820px;
}
#about .iphone .content .contentitem:nth-child(1){
	padding:9px 0px 9px 8px;
	border:1px solid #ddd;
}
#about .iphone .content .contentitem td{
	width:260px;
	font:12px/26px "";
	color:#666;
	overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
}

















